.turnContainer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    font-size: 1em;
    text-align: justify;
    background-color: darkcyan;
    border-radius: 5px;
    margin: 15px;
    p {
        margin-left: 16px;
        font-size: 18px;
    }
}
.turnContainer img {
    height: 120px;
    border-radius: 8px;
}

.turnInfoContainer {
    display: flex;
    width: 80%;
    justify-content: space-between;
}