.navbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333333;
    color: antiquewhite;
    padding-bottom: 1em;
    align-items: center;
}

.logoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 10px;
}

.logoSection img {
    max-height: 100%;
}

.linksSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}

.linksSection span:hover {
    cursor: pointer;
    text-shadow: 0 0 5px #ffffff; /* Añade un efecto de sombra de texto */
}

.avatarSection {
    margin: 20px;
}

.avatarSection img {
    border-radius: 50%;
    max-width: 100%;
    width: 48px;
    height: auto;
}

.linkActive {
    position: relative;
    color: inherit; /* Hereda el color del link predeterminado */
    text-decoration: none; /* Elimina cualquier subrayado predeterminado */
}

.linkActive::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -4px; /* Ajusta según sea necesario para la separación de la línea */
    width: 100%;
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: currentColor; /* Usa el color actual del link */
}



